<div>
    <div data-bind="foreach: post">
        <div>
            <div id="postLinkReal"><a data-bind="attr: {href: link}">Link</a></div>
            <div id="postTitle">Title: <span data-bind="text: title"></span></div>
            <div id="creationDate">Creation Date: <span data-bind="text: creationDate"></span></div>
            <div id="score">Post Score: <span data-bind="text: score"></span></div>
            <div id="body">Body: <span data-bind="html: body"></span></div>
        </div>
    </div>
    <div>______________________________ </div>
    <h1 id="answersHeading">Answers to post</h1>
    <div data-bind="foreach: answerArray">
        <div>
            <div id="linkText"><a data-bind="attr: {href: link}">Link</a></div>
            <div id="linkText">Body: : <span data-bind="html: body"></span></div>
            <div id="linkText">Creation Date: <span data-bind="text: creationDate"></span></div>
            <div id="linkText">Score: <span data-bind="text: score"></span></div>
            <div>___________________________________</div>
        </div>
    </div>
</div>